html,body{
    width: 100%;
    height: 100%;
}
.contenedortotal{
    width: 100%;
    height: 100%;
}
div .row{
    width: auto;
    height: 100%;
}

#sidebarMenu{
    height: auto;
}
.backgroundsidebar{
    background-color: #353535;
}

#contenedordepantallas{
    height: 85%;
    overflow-y: scroll;
}

.footerbordertop{
    background-color: #3d3d3d;
}

.icon-sibar{
    height: 50px;
    width: 50px;
    color: #ffffff; 
    font-size: 30px;
    justify-content: center;
    text-align: center;
}
.nav-item-sidebar i:hover{
    color: #3ebe53; 
}

.nav-item-sidebar{
    width: 100%;
    display: flex;
    padding-top: 15px;
}
.nav-item-sidebar:hover{
    width: 100%;
    background-color: #29242442;
}

.nav-link-sidebar{
    width: 100%;
    text-decoration: none;
    color: #3ebe54; 
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
}
.nav-link-sidebar:hover{
    cursor: pointer;
    color: #ffffff;
}
